[Unit]
Description=STELLA N5 Joystick Teleop
After=stella_bringup.service
Requires=stella_bringup.service

[Service]
Type=simple
User=stella2
Environment="ROS_DOMAIN_ID=52"
ExecStartPre=/bin/sleep 5
ExecStart=/bin/bash -c '\
  source /opt/ros/jazzy/setup.bash && \
  source /home/stella2/colcon_ws/install/local_setup.bash && \
  source /home/stella2/jazzy_ws/install/local_setup.bash && \
  ros2 launch /home/stella2/stella_tools/joystick/stella_joy_launch.py config_filepath:=/home/stella2/stella_tools/joystick/stella_joy.yaml robot_ns:=robot2'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
